.board {
    background-color: #f5f5f5;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 40px;

    @mixin desktop {
        flex-direction: row;
    }
}