.cross {
    position: relative;
    width: 30px;
    height: 30px;
    transition: all .3s ease;

    & div {
        top: calc(50% - 1px);
        left: calc(50% - 10px);
        position: absolute;
        background-color: #eaeaea;
        width: 20px;
        height: 2px;
        border-radius: 1px;

        &:first-child {
            transform: rotate(45deg);
        }

        &:last-child {
            transform: rotate(-45deg);
        }
    }

    &_correct {
        transform: rotate(45deg);
        & div {
            background-color: rgba(102, 249, 190);
        }
    }

    &_wrong {
        & div {
            background-color: rgb(248, 148, 148);
        }
    }
}