.header {
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    background-color: white;

    &__content {
        width: 1024px;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    &__title {
        font-size: 22px;
        margin-left: 20px;

        @mixin desktop {
            font-size: 22px;
            margin-left: 50px;
        }
    }
}