@import './reset.css';
@import './mixins.css';

.page {
    background-color: #f5f5f5;

    &__header {
        height: 60px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        align-items: center;
        background-color: white;

        & .header {
            &__content {
                width: 1024px;
                display: flex;
                align-items: center;
                margin: 0 auto;
            }

            &__title {
                font-size: 22px;
                margin-left: 20px;

                @mixin desktop {
                    font-size: 22px;
                    margin-left: 50px;
                }
            }
        }
    }

    &__container {
        background-color: #f5f5f5;
        min-height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        max-width: 1024px;
        margin: 0 auto;
        padding-bottom: 40px;

        @mixin desktop {
            flex-direction: row;
        }

        & .sidebar {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 20px;

            @mixin desktop {
                width: 380px;
            }

            &__label {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 14px;
                color: black;
                margin: 30px 0;

                @mixin desktop {
                    width: 280px;
                    margin: 30px auto;
                }
            }

            &__block {
                width: 100%;
                min-height: 70px;
                border-radius: 8px;
                background-color: white;
                margin: 0 auto;
                font-size: 16px;
                color: black;

                @mixin desktop {
                    width: 280px;
                }
            }

            &__input-block {
                display: flex;
                align-items: center;
            }

            &__input {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 16px;
                margin: 0 20px;
                flex-grow: 1;
                border: none;
                outline: none;

                @mixin desktop {
                    font-size: 16px;
                    margin: 0 20px;
                    width: 170px;
                }
            }

            &__input-button {
                position: relative;
                min-width: 50px;
                height: 50px;
                border-radius: 25px;
                margin-right: 20px;
                border: 1px solid #eaeaea;

                &:focus {
                    outline: none;
                }

                &_loading {
                    animation-name: cross-button-loader;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                }
            }

            &__cross {
                position: relative;
                width: 30px;
                height: 30px;
                transition: all .3s ease;

                & div {
                    top: calc(50% - 1px);
                    left: calc(50% - 10px);
                    position: absolute;
                    background-color: #eaeaea;
                    width: 20px;
                    height: 2px;
                    border-radius: 1px;

                    &:first-child {
                        transform: rotate(45deg);
                    }

                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }

                &_correct {
                    transform: rotate(45deg);
                    & div {
                        background-color: rgba(102, 249, 190);
                    }
                }

                &_wrong {
                    & div {
                        background-color: rgb(248, 148, 148);
                    }
                }
            }

            &__input-cross {
                margin: 0 auto;
                position: absolute;
                top: calc(50% - 15px);
                left: calc(50% - 15px);
            }

            &__players-block {
                margin-top: 40px;
            }

            &__player {
                &.player {
                    height: 70px;
                    display: flex;
                    align-items: center;

                    &:last-child {
                        & .player__info {
                            border-bottom: none;
                        }
                    }

                    &:hover {
                        & .player__cross {
                            opacity: 1;
                        }
                    }
                }

                & .player {
                    &__img {
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        overflow: hidden;
                        margin: 0 20px;
                    }

                    &__info {
                        border-bottom: 1px solid #eaeaea;
                        height: 100%;
                        flex-grow: 1;
                        display: flex;
                        align-items: center;
                    }

                    &__name {
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-size: 16px;
                        max-width: 130px;
                    }

                    &__cross {
                        opacity: 0;
                        margin: 0 20px 0 auto;
                        cursor: pointer;
                        border: none;
                    
                        &:hover {
                            & div {
                                background-color: rgb(248, 148, 148);
                            }
                        }

                        &:focus {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        & .game-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 20px;

            @mixin desktop {
                width: 620px;
            }

            &__label {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 14px;
                color: black;
                margin: 30px 0;
            }

            &__message {
                opacity: .4;
            }

            &__game {
                margin-top: 16px;

                &:first-child {
                    margin-top: 0;
                }

                &.game {
                    min-height: 70px;
                    border-radius: 8px;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 20px;
                }

                & .game {
                    &__picture {
                        width: 92px;
                        height: 34.5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        background-position: center;
                        background-size: contain;

                        margin-bottom: 5px;
                    }

                    &__info {
                        padding: 20px;
                    }

                    &__title {
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-size: 16px;
                        color: black;
                        margin-bottom: 5px;
                    }

                    &__genre {
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-size: 14px;
                        color: #757575;
                    }
                }
            }
        }
    }
}

@keyframes cross-button-loader {
    20% {
      border-left-width: 3px;
    }
    40% {
      border-bottom-width: 3px;
    }
    60% {
      border-right-width: 3px;
    }
    80% {
      border-top-width: 3px;
    }
  }