@import './reset.css';
@import './mixins.css';

@import './page.css';
@import './header.css';
@import './board.css';
@import './cross.css';
@import './sidebar.css';
@import './player.css';
@import './gameList.css';
@import './game.css';
