@define-mixin mobile {
    @media (max-width: 699px) {
        @mixin-content;
    }
}

@define-mixin tablet {
    @media (min-width: 700px) {
        @mixin-content;
    }
}

@define-mixin desktop {
    @media (min-width: 1024px) {
        @mixin-content;
    }
}